body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

header {
    width: 90%;
    margin: 0;
    padding: .5em 5%;
    flex: initial; /*flex: 0 1 auto*/
}

main {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis*/
    align-items: stretch; /*cross axis*/
}

section {
    flex: initial; /*flex: 0 1 auto*/
    border: 1px solid #D9D7D7;
    border-radius: 4px;
    background: #FAFAFA;
}

@media all and (min-width: 300px) {
    section {
        width: 80%;
        margin-top: .5em;
        margin-bottom: .5em;
        padding: .5em 10%;
    }
}

@media all and (min-width: 430px) {
    section {
        width: 36%;
        padding: .5em 6%;
    }
}

.slash {
    color: #D9D7D7;
}

footer {
    width: 80%;
    margin: 0 auto 1em auto;
    padding: .5em 5%;
    flex: initial; /*flex: 0 1 auto*/
    border: 1px solid #D9D7D7;
    border-radius: 4px;
}

/*Class for links in footer.*/
.units {
    cursor: pointer;
    color: #757575;
    margin: 0 2.5%;
}

/*Class for links in footer hover state.*/
.units:hover {
    text-decoration: underline;
}

/*Selected class*/
.selected {
    text-decoration: underline;
}

/*In footer. Pops up when users specifies units.*/
#set-txt {
    color: #F25252; /*orange*/
    display: none;
}

/*Fonts*/
p {
    font-family: 'Roboto', serif;
    line-height: 1.8;
    font-weight: 400;
}

.details {
    line-height: 1;
    text-transform: lowercase;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

/*City names like "Augusta"*/
h2 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    font-weight: 700;
}

@media all and (min-width: 300px) {
    p {
        font-size: .9375em; /*15 pixels*/
    }

    h1 {
        font-size: 1.4375em; /*23 pixels*/
    }

    h2 {
        font-size: 1.0625em; /*17 pixels*/
    }
}

@media all and (min-width: 600px) {
    p {
        font-size: 1em; /*16 pixels*/
    }

    h1 {
        font-size: 1.5em; /*24 pixels*/
    }

    h2 {
        font-size: 1.125em; /*18 pixels*/
    }
}

/*State names like "Maine"*/
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: .8125em; /*13 pixels*/
    line-height: 1.2;
    font-weight: 700;
    color: #006DB3; /*light blue 600 dark*/
    text-transform: uppercase;
}