#container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

header {
    width: 80%;
    margin: 1.5em 5% 0; /* longhand is 1.5em 5% 0 5% */
    padding: 0 5%;
    background: #122459; /* dark blue */
    flex: initial; /* flex: 0 1 auto */
}

nav {
    width: 80%;
    margin: 0 5%;
    padding: 0 5%;
    background: #dfedf2; /* lighter slate blue */
    flex: initial; /* flex: 0 1 auto */
}

main {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: stretch; /* cross axis */
}

section {
    flex: initial; /* flex: 0 1 auto */
    background: #fafafa; /* grey 50 */
    border: 1px solid #dfedf2;  /* lighter slate blue */
    border-radius: 4px;
}

@media all and (min-width: 300px) {
    section {
        width: 80%;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding: 0.5em 10%;
    }
}

@media all and (min-width: 480px) {
    section {
        width: 38%;
        padding: 0.5em 5%;
    }
}

@media all and (min-width: 600px) {
    section {
        width: 27%;
        padding: 0.5em 2.5%;
    }
}

/* Class for links in nav. */
.units {
    cursor: pointer;
    margin: 0 2.5%;
}

/* Class for links in nav hover state. */
.units:hover {
    text-decoration: underline;
}

/* Selected class */
.selected {
    text-decoration: underline;
}

/* In nav. Pops up when users specifies units. */
#set-txt {
    color: #f23005; /* orange */
    display: none;
}

/* Fonts */
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
}

.details {
    line-height: 1.2;
    color: #0420bf; /* bright violet */
}

nav p {
    line-height: 1.2;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 700;
    color: #fff;
}

/* City names like "Augusta" */
h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 700;
}

/* State names like "Maine" */
h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 700;
    color: #122459; /* dark blue */
    text-transform: uppercase;
}

@media all and (min-width: 300px) {
    p {
        font-size: 0.875em;
    }

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 0.9375em;
    }
}

@media all and (min-width: 400px) {
    p {
        font-size: 0.9375em;
    }

    h1 {
        font-size: 1.4em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }
}

@media all and (min-width: 600px) {
    p {
        font-size: 1em;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.4em;
    }
}
