#container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
    background: #eceff1; /*blue grey 50*/
    display: flow-root;
}

nav {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    background: #b0bec5; /*blue grey 200*/
    float: left;
}

figure {
    width: 20%;
    margin: 0;
    padding: 0;
    float: right;
}

header {
    width: 90%;
    margin: 0 0 0.8em 0;
    padding: 0.2em 5%;
    background: #0077c2;
    position: relative;
}

svg {
    width: 15%;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 5%;
}

@media all and (min-width: 300px) {

    svg {
        height: 1.225em; /*.875em h1 font-size X 1.4 line-height*/
        top: 0.8125em; /*height divided by 2 + .2em header padding*/
    }
}

@media all and (min-width: 400px) {

    svg {
        height: 1.68em; /*1.25em h1 font-size X 1.4 line-height*/
        top: 1.04em; /*height divided by 2 + .2em header padding*/
    }
}

#circle-f, #circle-b, #circle-c {
    cursor: pointer;
}

main {
    width: 100%;
    margin: 0;
    padding:  0;
}

section {
    width: 60%;
    margin: 0.8em 5%;
    padding: 0.2em 15%;
    border-bottom: 1px solid #cfd8dc;
}

section:last-child {
    margin: 0.8em 5% 0 5%;
    border-bottom: none;
}

footer {
    width: 90%;
    margin: 0.8em 0 0 0;
    padding: 0.2em 5%;
    background: #0077c2;
}

#default-faren, #default-celci, #default-both {
    cursor: pointer;
    text-decoration: underline;
}

#default-faren:hover, #default-celci:hover, #default-both:hover {
    color: #e0e0e0;
}

#set-txt {
    display: none;
}

/*Fonts and their media queries*/
section p {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 1.5;
}

@media all and (min-width: 300px) {
    section p {
        font-size: 1em;
    }
}

@media all and (min-width: 400px) {
    section p {
        font-size: 1.4em;
    }
}

footer p {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
}

@media all and (min-width: 300px) {

    footer p {
        font-size: 0.75em;
    }
}

@media all and (min-width: 400px) {

    footer p {
        font-size: 1em;
    }
}

h1 {
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
}

@media all and (min-width: 300px) {

    h1 {
        font-size: 0.875em;
    }
}

@media all and (min-width: 400px) {

    h1 {
        font-size: 1.2em;
    }
}

h2 {
    font-family: 'Francois One', sans-serif;
    font-weight: 600;
    line-height: 1.5;
}

@media all and (min-width: 300px) {

    h2 {
        font-size: 0.875em;
    }
}

@media all and (min-width: 400px) {

    h2 {
        font-size: 1.1em;
    }
}

/*NOTE: span classes faren, slash, and celci have no unique styles*/