#container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
    background: #ECEFF1;
    background: rgba(236, 239, 241, 0.4);
}

/*Clearfix for #container (accomplished with pseudo-element technique)*/
#container::after {
    clear: both;
    content: "";
    display: table;
}

header {
    width: 90%;
    margin: 0 0 0.8em 0;
    padding: 0.2em 5%;
    background:  #F44336;
    box-shadow: 0px 3px 3px 0 #CFD8DC; /*h-offset, v-offset, blur, spread, color*/
    float: left;
    position: relative;
}

nav {
    width: 20%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 1em;
    right: 5%;
}

svg {
    margin: 0;
    padding: 0;
}

#circle-f, #circle-b, #circle-c {
    cursor: pointer;
}

section {
    width: 60%;
    margin: 0.8em 5%;
    padding: 0.2em 15%;
    background: #FFF;
    border-radius: 0.25em;
    box-shadow: 0px 3px 3px 0 #CFD8DC; /*f-offset, v-offset, blur, spread, color*/
    float: left;
}

footer {
    width: 90%;
    margin: 0.8em 0 0 0;
    padding: 0.2em 5%;
    background: #2979FF;
    box-shadow: 0px -3px 3px 0 #CFD8DC; /*h-offset, v-offset, blur, spread, color*/
    float: left;
}

#default-faren, #default-celci, #default-both {
    cursor: pointer;
}

#default-faren:hover, #default-celci:hover, #default-both:hover {
    color: #B0BEC5;
}

section p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 1;
    color: #FFF;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2;
    color: #FFF;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.5;
    color: #000;
}

/*NOTE: span classes faren, slash, and celci have no unique styles*/